
Q1) Select all the correct options to join two lists.
      listOne  =  ['a', 'b', 'c', 'd']
      listTwo =  ['e', 'f', 'g']
a)	newList = listOne + listTwo
b)	  newList = extend(listOne, listTwo)
c)	  newList = listOne.extend(listTwo)
d)	  newList.extend(listOne, listTwo)
Ans.a)

In [1]:
listOne  =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']

In [2]:
newList = listOne + listTwo
newList

['a', 'b', 'c', 'd', 'e', 'f', 'g']

Q2) Create an list of elements and execute the following functions: reverse, append, extend,count,sort.

In [15]:
list1 = [1,2,1,3,2]

In [11]:
list1.reverse()
list1

[2, 3, 1, 2, 1]

In [14]:
list1.append(5)
list1

[1, 2, 1, 3, 2, 5, 5]

In [16]:
list1.count(1)

2

In [19]:
list1.sort()
list1

[1, 1, 2, 2, 3]

Q3)  Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [32]:
list2 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list2[1:-2]

['Green', 'White', 'Black']

Q4) What is the output of the following list operation
        aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

In [34]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]

In [35]:
print(aList[2:5])

[30, 40, 50]

In [36]:
print(aList[:4])

[10, 20, 30, 40]

In [37]:
print(aList[3:])

[40, 50, 60, 70, 80]

Q5) Select all the correct options to copy a list
         aList = ['a', 'b', 'c', 'd'] 

a)	newList = copy(aList)
b)	  newList = aList.copy()
c)	  newList.copy(aList)
d)	  newList = list(aList)
Ans.b) and d)

In [41]:
aList = ['a', 'b', 'c', 'd']

In [53]:
newList = copy(aList)

NameError: name 'copy' is not defined

In [42]:
newList = aList.copy()
newList

['a', 'b', 'c', 'd']

In [49]:
newList.copy(aList)

TypeError: list.copy() takes no arguments (1 given)

In [52]:
newList = list(aList)
newList

['a', 'b', 'c', 'd']

Q6) Create an list of elements and slice & dice it.

In [3]:
list1 = [1,2,1,2,3,4,5,6,7]

In [5]:
list1[2:8]

[1, 2, 3, 4, 5, 6]

Q7) Given a Python list you should be able to display Python list in the following order
       
       aLsit = [100, 200, 300, 400, 500]

    Expected output:
[500, 400, 300, 200, 100]

In [61]:
List3 = [100, 200, 300, 400, 500]

In [62]:
List3.reverse()
List3

[500, 400, 300, 200, 100]

Q8) What will be the output of the following code snippet?
a=[1,2,3,4,5]
print(a[3:0:-1])

In [63]:
 a=[1,2,3,4,5]

In [64]:
print(a[3:0:-1])

[4, 3, 2]

Q9) Add item 7000 after 6000 in the following Python List
     
    list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
       Expected output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [126]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]