Q1)Which method/inbuilt function should I use to convert String "welcome to the beautiful world of python" to "Welcome To The Beautiful World Of Python".

In [24]:
str1 ="welcome to the beautiful world of python"
str2 = str1.title()
print(str2)

Welcome To The Beautiful World Of Python

Q2)Split a given string on hyphens into several substrings
     #str1 = Emma-is-a-data-scientist

In [65]:
str1 = "Emma-is-a-data-scientist"
str1.split('-',maxsplit=4)

['Emma', 'is', 'a', 'data', 'scientist']

Q3)Remove empty strings from a list of strings
 str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [27]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [28]:
str_list.remove("")

In [29]:
str_list

['Emma', 'Jon', 'Kelly', None, 'Eric', '']

Q4)Create an string and execute the following inbuilt functions on it.
 upper, lower, capitalize, split, join, isnumeric, isalpha, isdigit, count, isalnum.

In [47]:
str1 = "Masha Is Cute Baby And She Is 1 Year Old"

In [32]:
str1.upper()

'MASHA IS CUTE BABY AND SHE IS 1 YEAR OLD'

In [33]:
str1.lower()

'masha is cute baby and she is 1 year old'

In [34]:
str1.capitalize()

'Masha is cute baby and she is 1 year old'

In [35]:
str1.split()

['Masha', 'Is', 'Cute', 'Baby', 'And', 'She', 'Is', '1', 'Year', 'Old']

In [36]:
str1.isnumeric()

False

In [37]:
str1.isalpha()

False

In [38]:
str1.isdigit()

False

In [56]:
str1.count("a")

4

In [39]:
str1.isalnum()

False

Q5)Guess the correct output of the following code?
     str1 = "PYnative"
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])
a)	PYn PYnat ive PYnativ vitanYP
b)	  Yna PYnat tive PYnativ vitanYP
c)	  Yna PYnat tive PYnativ PYnativ

In [41]:
str1 = "PYnative"
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])

Yna PYnat tive PYnativ PYnativ

Q6)write the correct output of the following String operations
        str1 = 'Welcome'
print(str1*2)

In [43]:
str1 = 'Welcome'
print(str1*2)

WelcomeWelcome

Q7)Find all occurrences of “USA” in given string ignoring the case
str1 = "Welcome to USA. usa awesome, isn't it?"

Expected Outcome:
The USA count is: 2

In [75]:
str1 = "Welcome to USA. usa awesome, isn't it?"
print(str1.lower().count("usa"))

2