Q1)  Select which is true for Python tuple
a) A tuple maintains the order of items
b) A tuple is unordered
c) We cannot change the tuple once created
d) We can change the tuple once created

Answer: a) A tuple maintains the order of items  c) We cannot change the tuple once created

Q2) Access value 20 from the following tuple
       aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
Expected output:
20

In [1]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]

20

Q3) Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
Expected output:
aTuple = (10, 20, 30, 40)
 #your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

In [2]:
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

Q4) Copy element 44 and 55 from the following tuple into a new tuple
       tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2 = (44, 55)

In [3]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

Q5) Counts the number of occurrences of item 50 from a tuple
              tuple1 = (50, 10, 60, 70, 50)

In [4]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

Q6) Modify the first item (22) of a list inside a following tuple to 222
        tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1 = (11, [222, 33], 44, 55)

In [5]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

Q7) Swap the following two tuples
         tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [9]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1

In [10]:
print(tuple1)

(99, 88)

In [11]:
print(tuple2)

(11, 22)

Q8) Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)

        Expected output:
(50, 40, 30, 20, 10)

In [12]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

Q9) Select true statements regarding the Python tuple
a)We can remove the item from tuple but we cannot update items of the tuple
b)We cannot delete the tuple
c) We cannot remove the items from the tuple
d) We cannot update items of the tuple.

Answer: c) We cannot remove the items from the tuple d) We cannot update items of the tuple.